<h3 class="modal-title text-center">Generator</h3>
<br/>
<div><img alt="Bloodbath and Beyond Logo" src="img/logo.png" width="200" height="200"/></div>
<br/>
<div class="panel panel-primary panel-generator">
    <div class="panel-heading xsmall text-center">
        Choose Vendor, Product and Qty
    </div>
    <div class="panel-body xsmall text-center"  ng-init="getVendors()" >
        <div>
            <div >
                <div >Vendor:</div>
                <div>
                    <select id="vendernoid"
                            class="input-small"
                            ng-change="changeVendor()"
                            required ng-model="venderno"
                            ng-options="v.vendorno as v.vendorno for v in vendors">    
                    </select>

                </div>
            </div>
            <br/>
            <div ng-show="pickedVendor"  >
                <div>Product: </div>
                <div>
                    <select class="input-small"                          
                            required ng-model="productcode"
                            id="productChosen"
                            ng-options="p.productname as p.productname for p in products | filter: venderno">    
                    </select>
                </div>
            </div>
            <br/>
            <div  ng-show="pickedVendor"   class="top10pad">
                <div >Qty:</div>
                <div >
                    <select id="qty" name="qty" required 
                            ng-change='removeItem(); ' ng-model="quantity" class="input-small">
                        <option value=product.eoq>EOQ</option>
                        <option value="0" >0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <br/>           
            <button type="button" class="addGenerator btn-generator "  
                    ng-click="generateAdd = true;
                                addProduct()" ng-show="pickedVendor">Add</button>
        </div>
        <div class="generate-table " ng-show="generateAdd" >
            <table class="text-center " id="main-content" style="width:50%" >
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Extended</th>
                </tr>
                <tbody  >
                    <tr ng-repeat="rowContent in items">
                        <td>{{rowContent.product}}</td>
                        <td>{{rowContent.qty}}</td>
                        <td>{{rowContent.ex| currency:"$"}}</td>
                    </tr>
                </tbody>
                <tbody align="right">
                    <tr id="sub">
                        <td align="left"></td>
                        <td align="right">Sub:</td>
                        <td align="right">{{sub| currency:"$"}}</td>               
                    </tr>
                    <tr id="tax">
                        <td align="left"></td>
                        <td align="right">Tax:</td>
                        <td align="right">{{tax| currency:"$"}}</td>               
                    </tr>
                    <tr id="total" >
                        <td align="left"></td>
                        <td align="right">Total:</td>
                        <td align="right" ng-model="purchaseorders.total">{{total| currency:"$" }}</td>               
                    </tr>

                </tbody>
            </table>
        </div>
        <hr/>
        <div class="panel-footer text-primary xsmall">{{status}}</div>
    </div>
</div>
<button type="button" class="addGenerator btn-generator "  ng-click=" createPO();  showPDFButton = ! showPDFButton;"
        onClick="this.style.display ='none'" >Add PO</button>

<div ng-class="{'hidden' : ! showPDFButton}">
   
<button type="button" class="addGenerator btn-generator " ng-model="pdfUrl" ng-click="viewPdf()"
          >PDF</button>
</div>