<h3 class="modal-title text-center">Vendor v2.0</h3>
<br/>
<div><img alt="Bloodbath and Beyond Logo" src="img/logo.png" width="200" height="200"/></div>
<div class="text-center col-lg-6 col-sm-6 col-xs-6" id="main-content">
    <table style="width:100%" >
        <tr>
            <th class="pointer" ng-click="predicate = 'vendorno';
                        reverse = !reverse;
                        ;
                        findSelected(predicate, reverse);">#</th>
            <th class="pointer" ng-click="predicate = 'name';
                        reverse = !reverse;
                        ;
                        findSelected(predicate, reverse);">Name</th>
            <th class="pointer" ng-click="predicate = 'city';
                        reverse = !reverse;
                        ;
                        findSelected(predicate, reverse);">City</th>
            <th class="pointer" ng-click="predicate = 'type';
                        reverse = !reverse;
                        ;
                        findSelected(predicate, reverse);">Type</th>
        </tr>
        <tr ng-click="selectRow(-1, null)">
            <td colspan="4">...Click to add, else click on desired vendor</td>
        </tr>
        <tbody ng-repeat="vendor in vendors| orderBy:predicate:reverse"
               ng-class="{itemSelected: $index === selectedRow}"
               ng-click="selectRow($index, vendor)" >
            <tr id="ven{{vendor.vendorno}}">
                <td align="left" style="padding-right: 15px;">{{vendor.vendorno}}</td>
                <td align="left">{{vendor.name}}</td>
                <td align="left">{{vendor.city}}</td>
                <td align="left">{{vendor.vendortype}}</td>
            </tr>

        </tbody>

    </table>
    <hr/>
    <div class="panel-footer text-primary xsmall">{{status}}</div>

</div>








