/*
    Created on : Oct 23, 2013, 5:46:26 PM
    Author     : Jonathan
    Miscellaneous styles supporting case 1
*/

.custom-error {
    font-size: x-small;
    font-weight: bold;
    color: red;
}

html, body {
    text-align:center;
}

.panel-generator{
    margin-left: 10%;
    margin-right: 10%;
}

div.table-title {
    display: block;
    margin: auto;
    margin-left: 100px;
    max-width: 1000px;
    padding:5px;
    width: 100%;
}

.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;

}


** Table Styles *

.table-fill {
    //background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    //padding:100px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    //animation: float 5s infinite;
}

th {
    color:#D5DDE5;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:20px;
    font-weight: 100;
    text-align:center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#4E5066;
    color:#9ea7af;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
    cursor: pointer;
    font-weight: bold;
}

tr:nth-child(even) td {
    background:#EBEBEB;
    //:#FFFFFF;

    cursor: pointer;

}

tr:nth-child(odd):hover td {
    //background:#4E5066;
    // color:#FFFFFF;
    cursor: pointer;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {    

    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.itemSelected{
    font-weight:bold;    
    color: #222;
    font-style: italic;
    background-color:yellow;
}

body {
    text-align: center;
}

#main-content {
    position: relative;
    top: 50%;
    left: 28%;
    margin-top: 80px;
    margin-left: -50px;
}


.pointer{
    cursor: pointer;
}

button {
  border: 0;
  background-color: #1b1e24; //#3498db;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  transition: background-color 0.2s ease-out;
 
 
  cursor: pointer;
}